.hit {
    background: url("ship.png") no-repeat center center;
}

.miss {
    background: url("miss.png") no-repeat center center;
}

body {
    background-color: rgba(14, 196, 105, 0.397);
}

div#mx-auto row {
    font-size: 15px;
}

div#startScreen {
    position: relative;
    width: 1024px;
    height: 900px;
    margin: auto;
    background: url('com.marmalade.battleship.jpg') no-repeat;
    background-size: 100% 100%;
    opacity: 1;
}

div#board {
    position: relative;
    width: 1024px;
    height: 900px;
    margin: auto;
    background: url("board.jpg") no-repeat;
}

div#messageArea {
    position: absolute;
    top: 0px;
    left: 0px;
    color: rgb(83, 175, 19);
}

table {
    position: absolute;
    left: 173px;
    top: 98px;
    border-spacing: 0px;
}

td {
    width: 94px;
    height: 94px;
}

form {
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 15px;
    background-color: rgb(83, 175, 19);
}

form input {
    background-color: rgb(152, 207, 113);
    border-color: rgb(83, 175, 19);
    font-size: 1em;
}

.parent {
    position: relative;
    width: 1024px;
    height: 917px;
    margin: auto;
}